.vscode/settings.json
src/DeepBee/original_images/B 5 7D (2).JPG
src/DeepBee/original_images/A 3 5D.JPG
src/DeepBee/original_images/B 1 2D.JPG
src/DeepBee/original_images/B 5 10D.JPG
src/DeepBee/original_images/B 5 3E.JPG
src/DeepBee/original_images/B 5 9E.JPG
src/DeepBee/software/model/classification.h5
src/DeepBee/software/model/segmentaion.h5

data/raw/*

.idea